@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #ff5758;
}
main {
  padding-top: 4.5rem;
}
.reset-tw,
.reset-tw * {
  all: revert !important;
}
